
    $logo-name         : 'sp-logo';
    $logo-x            : 148px;
    $logo-y            : 0px;
    $logo-offset-x     : -148px;
    $logo-offset-y     : 0px;
    $logo-width        : 160px;
    $logo-height       : 160px;
    $logo-total-width  : 308px;
    $logo-total-height : 1299px;
    $logo-image        : '/assets/images/sprite.d3bcaf2b.png';
    $logo              : (148px, 0px, -148px, 0px, 160px, 160px, 308px, 1299px, '/assets/images/sprite.d3bcaf2b.png', 'logo', );
    $profile-iconbg-name         : 'sp-profile_iconbg';
    $profile-iconbg-x            : 0px;
    $profile-iconbg-y            : 0px;
    $profile-iconbg-offset-x     : 0px;
    $profile-iconbg-offset-y     : 0px;
    $profile-iconbg-width        : 138px;
    $profile-iconbg-height       : 1299px;
    $profile-iconbg-total-width  : 308px;
    $profile-iconbg-total-height : 1299px;
    $profile-iconbg-image        : '/assets/images/sprite.d3bcaf2b.png';
    $profile-iconbg              : (0px, 0px, 0px, 0px, 138px, 1299px, 308px, 1299px, '/assets/images/sprite.d3bcaf2b.png', 'profile_iconbg', );

  $spritesheet-width   : 308px;
  $spritesheet-height  : 1299px;
  $spritesheet-image   : '/assets/images/sprite.d3bcaf2b.png';
  $spritesheet-sprites : ($logo, $profile-iconbg, );
  $spritesheet         : (308px, 1299px, '/assets/images/sprite.d3bcaf2b.png', $spritesheet-sprites, );


    @mixin sprite-width($sprite) {
      width: nth($sprite, 5);
    }

    @mixin sprite-height($sprite) {
      height: nth($sprite, 6);
    }

    @mixin sprite-position($sprite) {
      $sprite-offset-x: nth($sprite, 3);
      $sprite-offset-y: nth($sprite, 4);
      background-position: $sprite-offset-x  $sprite-offset-y;
    }

    @mixin sprite-image($sprite) {
      $sprite-image: nth($sprite, 9);
      background-image: url(#{$sprite-image});
    }

    @mixin sprite($sprite) {
      @include sprite-image($sprite);
      @include sprite-position($sprite);
      // @include sprite-width($sprite);
      // @include sprite-height($sprite);
    }


    @mixin sprites($sprites) {
      @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);

        .sp.sp-#{$sprite-name} {
          display: inline-block;
          width: nth($sprite, 5);
          height: nth($sprite, 6);

          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            @include sprite($sprite);
          }
        }
      }
    }
